.column
{
    margin: 10px, 0, 10px 0;
}
.displayCards
{
    text-align: center;
}

@media (max-width: 575.98px) {
    
    .column{
        margin: 5px, 0, 5px, 0;
        padding: 2px;
    }
    .displayCards {
      width: 120%;
      font-size: 1rem;
    }
    .displayCards .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .card-body h2{
        width: 100%;
        font-size: .9rem;
        text-align: center;
        font-weight: bold;
    }
    .cartbtn{
        font-size: .7rem;
        font-weight: bold;
    }
  }