.displayCards
{
    text-align: center;
}

@media (max-width: 575.98px) {
    .shopTitle{
        padding: 10px;
    }
    .container{
        padding: 0;
    }
    .column{
        margin-right: 0px;
        padding-right: 0;
        padding-left: 0;
    }
    .displayCards {
      width: 120%;
      font-size: 1rem;
    }
    .displayCards .card-img-top {
      height: 200px;
      object-fit: cover;
    }
    .card-body h2{
        width: 100%;
        font-size: .9rem;
        text-align: center;
        font-weight: bold;
    }
    .cartbtn{
        font-size: .7rem;
        font-weight: bold;
    }
  }